<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form validate [formGroup]="formulario" (ngSubmit)="cadastroUsuario()">

      <app-input-container errorMessage="Campo obrigatório ou email inválido">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email">
      </app-input-container>

      <app-input-container errorMessage="Campo obrigatório ou email inválido">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail Confirmação"
          formControlName="email_confirmacao">
      </app-input-container>
      <div class="form-group has-error"> 
        <span class="help-block" *ngIf="formulario.hasError('emailsNotMatch')"><i class="fa fa-remove"></i>Emails não Conferem</span>
      </div>
      <app-input-container errorMessage="Campo obrigatório e mínimo 7 caracters">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo"
          formControlName="nome_completo">
      </app-input-container>
      
      <app-input-container errorMessage="Campo obrigatório">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário"
          formControlName="nome">
      </app-input-container>
      
      <app-input-container errorMessage="Campo obrigatório">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha">
      </app-input-container>
      
      <button type="submit" class="btn btn-primary btn-sm btn-block">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" class="card-link" (click)="exibirPainelLogin()">Faça login</a>
    </p> 
  </div>
</div>