<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start">
      <app-cadastro (exibirPainel)="exibirlPainel($event)"></app-cadastro>
      </div>
    </div>
    
    <ng-template #formLogin>
    <div class="col-sm-6 d-flex justify-content-start">
      <app-login (exibirPainel)="exibirlPainel($event)"></app-login>
     </div>
    </ng-template>
  </div>
</div>